# Example of environment variables
# To run locally, project already contains safe patterns defined in the settings.py
# But if you must test as production, copy this file and rename it to .env, then change the values below:

DEBUG=True
SECRET_KEY=secret_development_key_goes_here
ALLOWED_HOSTS=127.0.0.1,localhost